<div class="row-fluid">
    {#
    pull-left
    <?php
        $link="dialog.php?".$get_params;
    ?>
    #}

    <ul class="breadcrumb">
    <li class="pull-left"><a href="?{{ get_params }}"><i class="icon-home"></i></a></li>
    <li><span class="divider">/</span></li>
{#    <?php
    $bc=explode("/",$subdir);
    $tmp_path='';
    if(!empty($bc))
    foreach($bc as $k=>$b){
            $tmp_path.=$b."/";
            if($k==count($bc)-2){
    ?> <li class="active"><?php echo $b?></li><?php
            }elseif($b!=""){ ?>
            <li><a href="<?php echo $link.$tmp_path?>"><?php echo $b?></a></li><li><span class="divider"><?php echo "/"; ?></span></li>
    <?php }
    }
    ?>#}
    
    {% set bc = subdir|split('/') %}
    {% set tmp_path='' %}
    {% if bc is not empty %}
        {% for key, value in bc %}
            {% set tmp_path=tmp_path ~ value ~ "/" %}
            {% if key == (bc|length -2) %}
                <li class="active">{{ value }}</li>
            {% elseif value != "" %}    
                <li><a href="?{{ get_params }}{{tmp_path}}">{{ value }}</a></li><li><span class="divider">/</span></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    <li class="pull-right"><a class="btn-small" href="javascript:void('')" id="info"><i class="icon-question-sign"></i></a></li>
    <li class="pull-right"><a class="btn-small" href="javascript:void('')" id="change_lang_btn"><i class="icon-globe"></i></a></li>
    <li class="pull-right"><a id="refresh" class="btn-small" href="?{{ get_params }}{{ subdir }}&{{ uniqid }}"><i class="icon-refresh"></i></a></li>
    <li class="pull-right">
        <div class="btn-group">
            <a class="btn dropdown-toggle sorting-btn" data-toggle="dropdown" href="#">
              <i class="icon-signal"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-left sorting">
            <li class="text-center"><strong>sorting</strong></li>
            <li><a class="sorter sort-name {% if sort_by == "name" %}{{ descending ? "descending":"ascending" }}{% endif %}" href="javascript:void('')" data-sort="name">Filename</a></li>
            <li><a class="sorter sort-date {% if sort_by == "date" %}{{ descending ? "descending":"ascending" }}{% endif %}" href="javascript:void('')" data-sort="date">Date</a></li>
            <li><a class="sorter sort-size {% if sort_by == "size" %}{{ descending ? "descending":"ascending" }}{% endif %}" href="javascript:void('')" data-sort="size">Size</a></li>
            <li><a class="sorter sort-extension {% if sort_by == "extension" %}{{ descending ? "descending":"ascending" }}{% endif %}" href="javascript:void('')" data-sort="extension">Type</a></li>
            </ul>
          </div>
    </li>
    </ul>
</div>