<div class="uploader">
    <div class="text-center">
    	<button class="btn btn-inverse close-uploader"><i class="icon-backward icon-white"></i> Return to files list</button>
    </div>
	<div class="space10"></div><div class="space10"></div>
	<div class="tabbable upload-tabbable"> <!-- Only required for left/right tabs -->
		{% if java_upload %}
	    <ul class="nav nav-tabs">
			<li class="active"><a href="#tab1" data-toggle="tab">Base upload</a></li>
			<li><a href="#tab2" id="uploader-btn" data-toggle="tab">JAVA upload (big size files)</a></li>
	    </ul>
	    <div class="tab-content">
			<div class="tab-pane active" id="tab1">
		    	{% endif %}
				<form action="dialog.php" method="post" enctype="multipart/form-data" id="rfmDropzone" class="dropzone">
				    <input type="hidden" name="path" value="{{ cur_path }}"/>
				    <input type="hidden" name="path_thumb" value="{{ cur_dir_thumb }} "/>
				    <div class="fallback">
					<h3>Upload:</h3><br/>
					<input name="file" type="file" />
					<input type="hidden" name="fldr" value="{{ subdir }}"/>
					<input type="hidden" name="view" value="{{ view }}"/>
					<input type="hidden" name="type" value="{{ type_param }}"/>
					<input type="hidden" name="field_id" value="{{ field_id }}"/>
                                        <input type="hidden" name="relative_url" value="{{ return_relative_url }}"/>
					<input type="hidden" name="popup" value="{{ popup }}"/>
					<input type="hidden" name="lang" value="{{ lang }}"/>
					<input type="hidden" name="filter" value="{{ filter }}"/>
					<input type="submit" name="submit" value="OK" />
				</form>
			</div>
		    <div class="upload-help">
                        Drag & Drop files or click in the area above (modern browsers) and select the file(s). When the upload is complete, click the 'Return to files list' button.
                    </div>
                    {% if java_upload %}
                    </div>
                    <div class="tab-pane" id="tab2">
                    <div id="iframe-container"></div>
                    <div class="upload-help">If the Java Applet doesn't load, 1. make sure you have Java installed, otherwise <a href='http://java.com/en/download/'>[download link]</a>   2. make sure nothing is blocked by your firewall</div>
                    {% endif %}
                    </div>
	    </div>
	</div>

</div>